;; shadow-cljs configuration
{:source-paths
 ["src" "test"]

 :dependencies
 [[cider/cider-nrepl "0.28.5"]]

 :builds
 {:md2x
  {:target :node-library
   :output-to "out/md2x-interim.js"
   :exports-var kur.md2x.main/exports
   :compiler-options {:infer-externs :auto}}

  :dev
  {:target :node-library
   :output-to "out/md2x-interim.js"
   :exports-var kur.md2x.main/exports
   :compiler-options {:infer-externs :auto
                      :optimization :none
                      :source-map true
                      :source-map-detail-level :all}}}}