.nrepl-*
.clj-kondo
.cpcache
.lsp
.calva

target/*

# Empty directories for various testing
out/*
!out/.gitkeep

test/fixture/blog-root/blog-md/*
!test/fixture/blog-root/blog-md/.gitkeep
test/fixture/blog-root/tmp-html/*
!test/fixture/blog-root/tmp-html/.gitkeep

test/fixture/spbt/md/*
test/fixture/spbt/html/*
!test/fixture/spbt/md/.gitkeep
!test/fixture/spbt/html/.gitkeep

test/fixture/scenario/md/*
test/fixture/scenario/html/*
!test/fixture/scenario/md/.gitkeep
!test/fixture/scenario/html/.gitkeep