{:md-dir "/www/blog-base/md"
 :html-dir "/www/blog/html"
 :fs-wait-ms 1000}

; md-dir          An directory to MONITOR post markdown
; html-dir        An directory to UPDATE post html
; resource-roots  Root directories to save resources
; fs-wait-ms      MONITOR waits fs-wait-ms milliseconds
;                 after consecutive file events in md-dir and then
;                 requests UPDATER to write/update/delete posts
