[Unit]
Description=kur blog updater

[Service]
WorkingDirectory=/www/blog-base
ExecStart=java -jar updater.jar config/default.edn
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=default.target
