[Unit]
Description=kur blog updater

[Service]
WorkingDirectory=/www/blog-base
User=kur
Group=kur
ExecStart=/usr/bin/java -jar updater.jar config/default.edn
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=mutli-user.target
