.site-footer {
    font-size: 80%;
    text-align: center;
    color: #a0a0a0;
    padding-top: 1.7rem;
    padding-bottom: 1rem;
}

.adjacent-in-time {
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}

.no-post {
    color: #808080;
}
